include ./partials/header
.form-container
  h2 Login
  form(method='post')
    .form-group
      label(for='username') Username
      input#username.form-control(type='text', name='username')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password')
    .form-group
      button.btn.btn-primary(type='submit') Login
      a.btn.btn-link(href='/register') Register
include ./partials/footer